.nav_panel {
  margin: 20px;
  position: absolute;
  background-color: #ffffff;
  text-align: center;
  top: 10px;
  left: 0;
  right: 0;
}

.box {
  padding: 10px;
}

.aside {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 400px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 80px;
  margin: auto 20px;
  background-color: #ffffff;
  align-items: center;
  border-radius: 20px;
  font-size: 36px;
  top: 200px;
  left: 20px;
}

a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  color: #000000;
}

i:hover {
  color: #ffffff;
  border-radius: 6px;
  background-color: #346beb;
  cursor: pointer;
}

.hover:hover {
  color: #87cefa;
}

.active {
  color: #87cefa;
}

.active1 {
  color: #ffffff;
  background-color: #346beb;
  border-radius: 6px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #346beb;
  color: #ffffff;
  z-index: 1;
  top: 0;
  left: 30px;
  width: 100px;
  text-align: center;
  border-radius: 5px;
  overflow: hidden;
  letter-spacing: 4px;
  margin: o auto;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/*  */
/*  */

.wrapper {
  position: relative;
  width: 98vw;
  height: 850px;
  border-radius: 20px;
  background-color: rgba(119, 136, 153, 0.2);
  top: 80px;
  margin: 0 10px;
}

.flex-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: rgba(119, 136, 153, 0.2);
  height: 100%;
  border-radius: 15px;
}

.item {
  padding: 10px 5px 10px 5px;
}

/* Box One */
.box_one {
  width: 35%;
  height: 10vh;
  background-color: #ffffff;
  flex-grow: 0;
  flex-shrink: 1;
  border-radius: 15px;
  padding-left: 20px;
  margin: 15px 0 10px 150px;

  /*  */
  display: flex;
  align-items: center;
}

h1,
h2 {
  font-family: "bahij";
}

.img_acc {
  position: relative;
  width: 60px;
  height: 60px;
  background-color: lightcoral;
  color: #ffffff;
  font-size: 40px;
  border-radius: 50px;
  border: 1px solid #000;
  text-align: center;
  top: 5px;
}

p {
  font-size: 20px;
  color: grey;
  font-family: "bahij";
}

.name_box {
  margin: 20px;
  line-height: 10px;
}

/* Box Tow */
.box_two {
  width: 35%;
  height: 20vh;
  background-color: #ffffff;
  flex-grow: 1;
  flex-shrink: 0;
  border-radius: 15px;
  padding-left: 20px;
  margin: 15px 0 10px 150px;
  /*  */
}

.svg_padlock {
  line-height: 10px;
}

.lock {
  display: flex;
  flex-wrap: wrap;
  padding: 0 20px 5px 5px;
}

.change {
  padding: 0 0 0 20px;
}

/* Company Box , Box Three */
.box_three {
  width: 50%;
  background-color: #ffffff;
  flex-grow: 1;
  flex-shrink: 0;
  border-radius: 15px;
  margin: 10px 10px 10px 0;
  padding-left: 20px;

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

#count,
#state,
#city,
#post {
  width: 300px;
}

#comp_adress,
#company {
  width: 90%;
}

#company {
  height: 100px;
}
.copm_add {
  line-height: 30px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  line-height: 10px;
}
.comp_opt {
  line-height: 10px;
  padding: 0 0 0 20px;
}
.company_box {
  display: flex;
}

.left_form {
  margin: 0 100px 0 0;
}
/*  Decoration for input field and placeholder*/
/*  */

input:focus {
  border-color: #346beb;
}

::selection {
  background-color: #ffa500;
  color: #000;
}
::placeholder {
  color: #948f8fd5;
  font-family: "bahij";
}

input[type="text"] {
  width: 600px;
  height: 50px;
  display: block;
  margin-bottom: 10px;
  border-radius: 10px;
  font-size: 16px;
  box-shadow: 0px 19px 100px 10px rgba(86, 86, 86, 0.2);
  outline: none;
}

input[type="password"] {
  width: 600px;
  height: 50px;
  display: block;
  margin-bottom: 10px;
  border-radius: 10px;
  font-size: 20px;
  box-shadow: 0px 19px 100px 10px rgba(86, 86, 86, 0.2);
  outline: none;
}

#button {
  margin: 100px 0 0 485px;
}

#button_right {
  margin: 90px 0 0 600px;
}

input[type="button"] {
  width: 120px;
  height: 50px;
  border-radius: 10px;
  margin-left: 35px;
  display: block;
  color: #ffffff;
  background-color: #346beb;
  border: none;
  font-size: 16px;
  font-weight: 500px;
  outline: none;
}

input[type="button"]:hover {
  background-color: rgba(135, 206, 250);
  color: #1b1919;
  font-size: 16px;
  font-weight: 500px;
  cursor: pointer;
}

form {
  line-height: 10px;
}

svg {
  fill: #ffffff;
  background-color: #87cefa;
  border-radius: 50px;
  border: 1px solid #000;
  width: 60px;
  height: 60px;
}
/* Font Face style  */
@font-face {
  font-family: "chronica.ttf";
  src: url(fonts/ChronicaPro-Regular.ttf);
}

@font-face {
  font-family: "bahij";
  src: url(fonts/bahij-sultannahia.ttf);
}
